<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="script.js"></script>
		<title>File Manager</title>
	</head>
	<body>
		<div class='root'></div>
		<% if(locals.dir){ %>
			<script type="text/javascript">
				let getDir = () => <%-dir%>
				let getParent = () => <%-parent%>
			</script>
		<% } %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
		<div class="files"></div>

		<form id="upload" action="/upload" method="POST" enctype="multipart/form-data">

			<fieldset>
			<legend>HTML File Upload</legend>
			
			<div>
				<label for="fileselect">Files to upload:</label>
				<input type="file" id="fileselect" name="fileselect" multiple="multiple" />
				<div id="filedrag">or drop files here</div>
			</div>
			
			<div id="submitbutton">
				<input type="submit"/>
			</div>
			
			</fieldset>
			
			</form>
			<script>
				let target = document.documentElement;
		let body = document.body;
		let fileInput = document.querySelector('input');
		
		target.addEventListener('dragover', (e) => {
		  e.preventDefault();
		  body.classList.add('dragging');
		});
		
		target.addEventListener('dragleave', () => {
		  body.classList.remove('dragging');
		});
		
		target.addEventListener('drop', (e) => {
		  e.preventDefault();
		  body.classList.remove('dragging');
		  
		  fileInput.files = e.dataTransfer.files;
		  document.getElementById('upload').submit()
		});
			</script>
			<style>
				body {
		  font-family: Roboto, sans-serif;
		}
		
		body.dragging::before {
		  content: "Drop the file(s) anywhere on this page";
		  position: fixed;
		  left: 0; width: 100%;
		  top: 0; height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1.5em;
		  background-color: rgba(255, 255, 0, .3);
		  pointer-events: none;
		}
		
		button, input {
		  font-family: inherit;
		}
		
		a {
		  color: blue;
		}
		#upload
		{
			display: none;
		}
			</style>		
	</body>
</html>